<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

	<description>
		Configuracion de los DAOs
	</description>

	<import resource="spring-orm.xml"/>

	<!-- DAOs -->
	<object id="genericDAO" type="Bic.Dao.GenericDAO, Bic.Dao" >
		<property name="SessionFactory" ref="sessionFactory"/>	
	</object>

	<object id="usuarioDAO" type="Bic.Dao.UsuarioDAO, Bic.Dao" >
		<property name="SessionFactory" ref="sessionFactory"/>	
	</object>

	<object id="proyectoDAO" type="Bic.Dao.ProyectoDAO, Bic.Dao" >
		<property name="SessionFactory" ref="sessionFactory"/>	
	</object>

	<object id="tablaDAO" type="Bic.Dao.TablaDAO, Bic.Dao" >
		<property name="SessionFactory" ref="sessionFactory"/>	
	</object>

	<object id="catalogoDAO" type="Bic.Dao.MySQLDAO, Bic.Dao" >
	</object>
	
</objects>
