<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

	<description>
		Configuracion de los servicios
	</description>

	<object id="serviceConfigurationTemplate" abstract="true"
          type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
    
	    <property name="InterceptorNames">
			<list>
				<value>loggingInterceptor</value>	    
				<value>transactionInterceptor</value>
			</list>
	    </property>
	</object>
	
	<object id="usuarioService" parent="serviceConfigurationTemplate">
		<property name="proxyInterfaces" value="ar.com.bic.application.UsuarioService"/>
		<property name="target" ref="usuarioServiceImpl"/>
	</object>			
	<object id="usuarioServiceImpl" type="ar.com.bic.application.impl.UsuarioServiceImpl, ar.com.bic.application">
		<property name="usuarioDAO" ref="usuarioDAO"/>                    
	</object>

</objects>

